<!doctype html>
<html>
<head>
    <title><%= @page_title ? "" %></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
    <%- @body %>
</body>
</html>